<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timeLimit</key>
		<string>60</string>
		<key>numOfTargets</key>
		<string>20</string>
	</dict>
	<dict>
		<key>timeLimit</key>
		<string>120</string>
		<key>numOfTargets</key>
		<string>50</string>
	</dict>
	<dict>
		<key>timeLimit</key>
		<string>90</string>
		<key>numOfTargets</key>
		<string>35</string>
	</dict>
	<dict>
		<key>timeLimit</key>
		<string>60</string>
		<key>numOfTargets</key>
		<string>5</string>
	</dict>
	<dict>
		<key>timeLimit</key>
		<string>60</string>
		<key>numOfTargets</key>
		<string>5</string>
	</dict>
</array>
</plist>
